#include "resource.h"
#include <winres.h>

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

IDD_PODCAST_INPUT DIALOGEX 0, 0, 280, 70
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Podcasts"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "",IDC_INPUT_PROMPT,8,8,264,16
    EDITTEXT        IDC_INPUT_EDIT,8,28,264,14,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,166,48,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,222,48,50,14
END
